name: CI

on:
  push:
    branches: [main]

env:
  CASCADIA_CODE_VERSION: 2111.01
  NERD_FONTS_VERSION: df6d602440f06695d3db372b45465632de264cc2

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        font:
          - CascadiaCode-Bold
          - CascadiaCode-BoldItalic
          - CascadiaCode-ExtraLight
          - CascadiaCode-ExtraLightItalic
          - CascadiaCode-Italic
          - CascadiaCode-Light
          - CascadiaCode-LightItalic
          - CascadiaCode-Regular
          - CascadiaCode-SemiBold
          - CascadiaCode-SemiBoldItalic
          - CascadiaCode-SemiLight
          - CascadiaCode-SemiLightItalic
          - CascadiaMono-Bold
          - CascadiaMono-BoldItalic
          - CascadiaMono-ExtraLight
          - CascadiaMono-ExtraLightItalic
          - CascadiaMono-Italic
          - CascadiaMono-Light
          - CascadiaMono-LightItalic
          - CascadiaMono-Regular
          - CascadiaMono-SemiBold
          - CascadiaMono-SemiBoldItalic
          - CascadiaMono-SemiLight
          - CascadiaMono-SemiLightItalic
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          repository: ryanoasis/nerd-fonts
          ref: ${{env.NERD_FONTS_VERSION}}
      - run: sudo apt-get update && sudo apt-get -yf install fontforge
      - run: |
          curl -LSsO https://github.com/microsoft/cascadia-code/releases/download/v$CASCADIA_CODE_VERSION/CascadiaCode-$CASCADIA_CODE_VERSION.zip
          unzip CascadiaCode-$CASCADIA_CODE_VERSION.zip
      - env:
          FONT: ${{matrix.font}}
        run: |
          fontforge -script font-patcher -c otf/static/$FONT.otf
          fontforge -script font-patcher -sc otf/static/$FONT.otf
          fontforge -script font-patcher -wc otf/static/$FONT.otf
          fontforge -script font-patcher -swc otf/static/$FONT.otf
      - name: Upload fonts
        uses: actions/upload-artifact@v2
        with:
          name: ${{matrix.font}}_${{env.CASCADIA_CODE_VERSION}}_${{env.NERD_FONTS_VERSION}}
          path: ./*.otf
